@use 'colors';

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > span {
    font-size: 12px;
    line-height: 15.6px;
    color: colors.$primaryBlue;
    cursor: pointer;
  }
  
  margin-top: 32px;
}