@use 'colors';

.info {
  line-height: 24px;
  text-align: center;
}

.form {
  margin-top: 24px;

  label {
    margin-left: 0 !important;
    text-align: center;
  }

  .input {
    width: 100%;
    
    input {
      text-align: center
    };

    &::placeholder {
      text-align: center;
    }

  }

}

.no-sms {
  font-size: 12px;
  line-height: 15.6px;
  color: colors.$primaryBlue;
  cursor: pointer;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > span {
    font-size: 12px;
    line-height: 15.6px;
    color: colors.$liberty_20;
  }
  margin-top: 32px;
}