@use 'colors';

.user {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
  color: colors.$primaryWhite;

  .child {
    flex-grow: 1;
    transition: all .4s;

    &:hover {
      cursor: pointer;
      background-color: colors.$liberty_50;
    }
  }

  .lots {
    @extend .child;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .deposit {
    @extend .child;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    & > * {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      margin-bottom: 10px;
    }

    &__warning {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      color: colors.$primaryPurple;
      flex-grow: 1;
    }

    &__bank {
      margin-bottom: 4px;
    }

    &__account {
      width: 95px;
      font-size: 12px;
      line-height: 15.6px;
      color: colors.$liberty_20;
      margin-right: 8px;
    }

    &__figures {
      font-size: 12px;
      line-height: 15.6px;
    }
  }

  .notification {
    @extend .child;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .organization {
    @extend .child;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &__contact {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: flex-start;
      gap: 1px;
    }

    &__owner {
      font-size: 12px;
      line-height: 15.6px;
      color: colors.$liberty_20;
    }

    &__brand {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}