$primaryPurple: #8E35A6;
$primaryBlue: #1E82C1;
$primaryBlueHover: #1C77B0;
$primaryBlueDisabled: #8EC0DF;
$primaryBlack: #12152B;
$primaryWhite: #FFFFFF;
$primaryGreen: #74C25F;
$primaryOrange: #F0782E;
$orange_0:  #F9DBCA;
$orange_1: #F6BA96;
$gradient: linear-gradient(90deg, #1F81C2 0%, #8E35A6 100%);

$liberty_0: #FBFBFD;
$liberty_10: #F2F3F8;
$liberty_20: #A2ABCD;
$liberty_20_disabled: #D8DBE9;
$liberty_30: #7C84C1;
$liberty_40: #565CB4;
$liberty_50: #353859;
$liberty_60: #1F2247;

$links_color: #1E82C1;
