@font-face {
  font-family: 'InterLight';
  src: url('~fonts/Inter/Inter-Light.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterMedium';
  src: url('~fonts/Inter/Inter-Medium.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterRegular';
  src: url('~fonts/Inter/Inter-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterBlack';
  src: url('~fonts/Inter/Inter-Black.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'InterBold';
  src: url('~fonts/Inter/Inter-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PlayRegular';
  src: url('~fonts/Play/Play-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PlayBold';
  src: url('~fonts/Play/Play-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ManropeRegular';
  src: url('~fonts/Manrope/Manrope-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}
