@use 'colors';

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 95px 0px;
  width: 512px;

  @media screen and (max-width: 1305px) {
    width: 100%;
    justify-content: center;
  }

  .checkbox-label {
    &, > *{ 
      font-size: 12px;
      line-height: 15.6px;
    }

    color: colors.$liberty_20;

    .link {
      color: colors.$primaryBlue;
      cursor: pointer;
    }
  }

  .submit-button {
    margin-top: 35px;
  }
}