@use 'colors';

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  right: 0;
  position: absolute;
  background-color: colors.$liberty_60;
  height: 827px;
  width: 672px;
  transition: all .4s;


  @media screen and (max-width: 1320px) {
    & {
      display: none;
    }
  }

}
